html
{
	background: #6E4242;
}
body
{
	background: #EDEDED;
	box-shadow: 2px 2px 1px black;
	margin: 25px;
	padding: 7px;
}
p
{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
}
h1, h3
{
	font-family: 'Rozha One', serif;
}

div.about
{
	border: #C9C9C9 5px solid;
	padding: 5px;
	word-spacing: normal;
	margin: 15px;
	width: 60%;
	float: left;
}
.container
{
	clear: both;
	overflow: auto;
}
div.contact
{
	float:left;
	border: #C9C9C9 5px solid;
	width: 32%;
	padding: 5px;
	margin: 15px;
	word-spacing: normal;
}
.logo
{
	display: inline;
	float: left;
	width:252px;
	height: 252px;
}
.title
{
	position: absolute;
	left: 475px;
	top: 50px;
}
.purchase
{
	padding: 5px;
	margin: 15px;
	float:left;
	border:  #C9C9C9 5px solid;
	width: 60%;
}

.purchaseinfo
{
	margin: 25px;
	border-style: solid;
	border-width: 5px;
	border-color: #C9C9C9;
	padding: 7px;
}
.pages
{
	border: #C9C9C9 5px solid;
	margin:25px;
	padding: 7px;
}